In [ ]:
print("hello World!")

hello World!

In [ ]:
 a=int(input("enter a number: "))
 print("your name is ")
 if(a>10):
    print("ASHUTOSH")
 elif(a<5):
    print("Asuprin")
 else:
    print("PRINCE")

enter a number: 23
your name is
ASHUTOSH

# New Section

In [ ]:
print (2+4)

6

In [ ]:
print("i am Ashutosh Malviya\nand i am the best among all ")

i am Ashutosh Malviya
and i am the best among all

In [ ]:
ash ="S...."
print ("actually ash is",ash)

actually ash is S....

In [ ]:
ar= "i am Ashutosh malviya
and i am best among all

[7]
0s
ash ="S...."
print ("actually ash is",ash)
actually ash is S...."
print(ar)

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-10-a1410cee2f99>, line 1)

solution

In [ ]:
ar= '''i am Ashutosh malviya
and i am best among all

[7]
0s
ash ="S...."
print ("actually ash is",ash)
actually ash is S....'''
print(ar)

i am Ashutosh malviya
and i am best among all

[7]
0s
ash ="S...."
print ("actually ash is",ash)
actually ash is S....

In [ ]:
green="""i am Ashutosh malviya
and i am best among all

[7]
0s
ash ="S...."
print ("actually ash is",ash)
actually ash is S...."""
print(green[0])
print(green[5])
print(green[6])

i
A
s

In [ ]:
print("pookie loves bolpani")

pookie loves bolpani

lecture 16 match case

In [ ]:
x= int(input("enter a number:"))
match x:
    case 1:
      print("one")
    case 2:
      print("two")
    case _ if x!=12:
      print("not two")
    case _ if x!=10:
      print("not ten")
    case 3:
      print("three")
    case 4:
      print("four")

enter a number:2
two

In [ ]:
green="""i am Ashutosh Malviya
and i am best among all

[7]
0s
ash ="S...."
print ("actually ash is",ash)
actually ash is S...."""
for character in green:
  print (character)

i

a
m

A
s
h
u
t
o
s
h

M
a
l
v
i
y
a


a
n
d

i

a
m

b
e
s
t

a
m
o
n
g

a
l
l




[
7
]


0
s


a
s
h

=
"
S
.
.
.
.
"


p
r
i
n
t

(
"
a
c
t
u
a
l
l
y

a
s
h

i
s
"
,
a
s
h
)


a
c
t
u
a
l
l
y

a
s
h

i
s

S
.
.
.
.

For loop

In [ ]:
A="ashutosh"
for character in A:
  print(character)
  if character=="h":
     print ("this is something special")

a
s
h
this is something special
u
t
o
s
h
this is something special

range()

In [ ]:
for i in range(1,13):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12

In [ ]:
for i in range(1,12,2):
  print(i)

In [ ]:
#ashutosh is great

In [ ]:
a=1
b =2
c= "Ashutosh"
print(type(a))
print (a+b)
print(type(c))

In [ ]:
input("ashu")

ashu23

'23'

while loop

In [ ]:
a = 20
while (a>0):
  print (a)
  a=a-2

while else

In [ ]:
a = 20
while (a>0):
  print (a)
  a=a-2
else:
  print("ashutosh")

continue and break lec 19

In [ ]:
for i in range(21):
  if (i%2 == 0):
   print ("Ashu")
   continue

  print(i)

Ashu
1
Ashu
3
Ashu
5
Ashu
7
Ashu
9
Ashu
11
Ashu
13
Ashu
15
Ashu
17
Ashu
19
Ashu

In [ ]:
for i in range(20):
  if (i%2 == 0):
   print ("Ashu")
   continue
  else :
   print ("Hello")
   break
  print(i)

lec 20 **Function**

In [ ]:
def sum(a ,b):
  sumation = a+b
  print(sumation)
a = int(input("Ashu plz enter first no. to sum: "))
b = int(input("Ashu plz enter second no. to sum: "))
sum(a ,b)

In [ ]:
def com(a, b):
  if (a>b):
    print("A is greater than b")
  elif(a==b):
    print("A is equal to b")
  else:
    print("A is lesser than b")

a= int(input("enter first number: "))
b= int(input("enter second number: "))
com(a,b)

enter the value of a3
enter the value of b1
A is greater than b

default argument
in this we can give any default value to the funtion which will work automatically when you don't give values by yourself.

In [ ]:
def sum(a = 2 ,s = 4):
 print("summation", a+s)

sum()

sum(1)

sum(3)
sum(s = 2)
sum(4,6)

summation 6
summation 5
summation 7
summation 4
summation 10

List

In [ ]:
i= [1,2,3, "harry","Ashu",True ]
print (i)
print (type(i))
print (i[0])
print (i[1])
print (i[2])
print (i[3])
print (i[4])
print (i[5])

print("negative indexing")
i= [1, 2, 3 , "harry","Ashu",True,"asd","esdf", "afbf" ]

print (i[-1])
print (i[-2])
print (i[-3])
print (i[-4])
print (i[-5])
print (i[-6])
print (i[len(i)-3])

if 2 in i :
  print ("2 is in i")
else:
  print("2 is not in i")
#print(list[start:end:jump index])
print (i[1:5])
print (i[1:5:2])

i= [1,2,3, "harry","Ashu",True ]
print (i)
print (type(i))
print (i[0])
print (i[1])
print (i[2])
print (i[3])
print (i[4])
print (i[5])

print("negative indexing")
i= [1, 2, 3 , "harry","Ashu",True,"asd","esdf", "afbf" ]

print (i[-1])
print (i[-2])
print (i[-3])
print (i[-4])
print (i[-5])
print (i[-6])
print (i[len(i)-3])

if 2 in i :
  print ("2 is in i")
else:
  print("2 is not in i")
#print(list[start:end:jump index])
print (i[1:5])
print (i[1:5:2])

#list comprehension

lst=[i*i for i in range(11)]
print(lst)
lst=[i*i for i in range(11) if i%2==0]
print(lst)

[1, 2, 3, 'harry', 'Ashu', True]
<class 'list'>
1
2
3
harry
Ashu
True
negative indexing
afbf
esdf
asd
True
Ashu
harry
asd
2 is in i
[2, 3, 'harry', 'Ashu']
[2, 'harry']
[1, 2, 3, 'harry', 'Ashu', True]
<class 'list'>
1
2
3
harry
Ashu
True
negative indexing
afbf
esdf
asd
True
Ashu
harry
asd
2 is in i
[2, 3, 'harry', 'Ashu']
[2, 'harry']
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 4, 16, 36, 64, 100]

In [ ]:
i= [1,2,3, "harry","Ashu",True ]
print (i)
print (type(i))
print (i[0])
print (i[1])
print (i[2])
print (i[3])
print (i[4])
print (i[5])

print("negative indexing")
i= [1, 2, 3 , "harry","Ashu",True,"asd","esdf", "afbf" ]

print (i[-1])
print (i[-2])
print (i[-3])
print (i[-4])
print (i[-5])
print (i[-6])
print (i[len(i)-3])

if 2 in i :
  print ("2 is in i")
else:
  print("2 is not in i")
#print(list[start:end:jump index])
print (i[1:5])
print (i[1:5:2])

i= [1,2,3, "harry","Ashu",True ]
print (i)
print (type(i))
print (i[0])
print (i[1])
print (i[2])
print (i[3])
print (i[4])
print (i[5])

print("negative indexing")
i= [1, 2, 3 , "harry","Ashu",True,"asd","esdf", "afbf" ]

print (i[-1])
print (i[-2])
print (i[-3])
print (i[-4])
print (i[-5])
print (i[-6])
print (i[len(i)-3])

if 2 in i :
  print ("2 is in i")
else:
  print("2 is not in i")
#print(list[start:end:jump index])
print (i[1:5])
print (i[1:5:2])

#list comprehension

lst=[i*i for i in range(11)]
print(lst)
lst=[i*i for i in range(11) if i%2==0]
print(lst)

[1, 2, 3, 'harry', 'Ashu', True]
<class 'list'>
1
2
3
harry
Ashu
True
negative indexing
afbf
esdf
asd
True
Ashu
harry
asd
2 is in i
[2, 3, 'harry', 'Ashu']
[2, 'harry']
[1, 2, 3, 'harry', 'Ashu', True]
<class 'list'>
1
2
3
harry
Ashu
True
negative indexing
afbf
esdf
asd
True
Ashu
harry
asd
2 is in i
[2, 3, 'harry', 'Ashu']
[2, 'harry']
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[0, 4, 16, 36, 64, 100]

**LIST** **METHOD**

In [ ]:
#to add element at the end of list
lis= [1, 8, 2, 9, 5, 6,]
lis.append(7)
print(lis)

#to arrange list in assending order
lis.sort()
print(lis)
lis.sort(reverse=True)
print(lis)
lis.sort(reverse=False)
print(lis)

#to  reverse our list order
lis.reverse()
print(lis)

#to  INDEX our list order
print(lis.index(1))

#to  COUNT the no. of element in our list
lis.count(2)

#to EXTEND our list
m = [234, 333, 999]
lis.extend(m)
print(lis)

#we can do it without disturbing lis also
k=lis+m
print(k)
print(lis)
print(m)

[1, 8, 2, 9, 5, 6, 7]
[1, 2, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 2, 1]
[1, 2, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 2, 1]
6
[9, 8, 7, 6, 5, 2, 1, 234, 333, 999]
[9, 8, 7, 6, 5, 2, 1, 234, 333, 999, 234, 333, 999]
[9, 8, 7, 6, 5, 2, 1, 234, 333, 999]
[234, 333, 999]

Dictionary